@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    color-scheme: light;

    --text-color: theme("colors.text-primary-light");
    --bg-color: theme("colors.bg-tertiary-light");

    --navbar-color: theme("colors.bg-primary-light");

    --link-hover-color: #747bff;

    --btn-bg-color: theme("colors.btn-primary-light");
    --btn-hover-bg-color: theme("colors.btn-hovered-light");
  }

  :root {
    font-family: 'Rubik', sans-serif;
    font-size: min(2px + 2.5vmin, 16px);
    line-height: 24px;
    font-weight: 400;

    background-color: var(--bg-color);
    color: var(--text-color);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  a {
    color: var(--link-color);

    font-weight: 500;
    text-decoration: inherit;
    outline-offset: 0.25rem;
  }

  a:hover {
    color: var(--link-hover-color);
  }

  body,
  #root {
    margin: 0;

    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    min-width: 320px;
    min-height: 100vh;
  }

  h1 {
    font-size: 3.5em;
    line-height: 1.2;
  }

  button {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--btn-bg-color);
    cursor: pointer;
  }

  @media(hover: hover) {
    button:hover {
      background-color: var(--btn-hover-bg-color);
    }
  }

  button:active {
    background-color: var(--btn-hover-bg-color);
    translate: 0 1px;
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  :focus:not(:focus-visible) {
    outline: none;
  }

  button,
  textarea,
  input,
  select,
  a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  }

  @media (prefers-color-scheme: dark) {
    :root:not(.dark) {
      color-scheme: dark;

      --text-color: theme("colors.text-primary");
      --bg-color: theme("colors.bg-tertiary");

      --navbar-color: theme("colors.bg-primary");

      --link-color: #646cff;
      --link-hover-color: #535bf2;

      --btn-bg-color: theme("colors.btn-primary");
      --btn-hover-bg-color: theme("colors.btn-hovered");
    }
  }

  @media (prefers-color-scheme: light) {
    :root.dark {
      color-scheme: dark;

      --text-color: theme("colors.text-primary");
      --bg-color: theme("colors.bg-tertiary");

      --navbar-color: theme("colors.bg-primary");

      --link-color: #646cff;
      --link-hover-color: #535bf2;

      --btn-bg-color: theme("colors.btn-primary");
      --btn-hover-bg-color: theme("colors.btn-hovered");
    }
  }

  @keyframes grow-in {
    0% {
      scale: 0;
      opacity: 0;
    }

    100% {
      scale: 1;
      opacity: 1;
    }

  }

  @keyframes shrink-down {
    0% {
      scale: 1;
      opacity: 1;
    }

    100% {
      scale: 0;
      opacity: 0;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes vibrate {
    0% {
      scale: 1;
    }

    50% {
      scale: 1.1;
    }

    100% {
      scale: 1;
    }
  }
}

.hint {
  box-shadow: 0 0 0 500vmax #00000063;
}

@media(hover: hover) {
  div:hover+div.hint {
    z-index: 40;
    pointer-events: all;
    transition-duration: 250ms;
    transition-delay: 750ms;
    opacity: 1;
  }
}
@media (hover: none) {
  div:active+div.hint {
    z-index: 40;
    pointer-events: all;
    transition-duration: 250ms;
    transition-delay: 250ms;
    opacity: 1;
  }
}